body {
    margin: 0px;
    background-color: #000000;
    overflow: hidden;
}

canvas {
    position: absolute;
    z-index: -1;
}

div.full-screen {
    width: 100vw;
    height: 100vh;
}

#large-text-container {
    pointer-events: none;
    font-size: 30vh;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#large-text {
    transform: scale(1);
    transition: all 1.5s;
    opacity: 1;
}

#large-text.animate {
    transform: scale(0);
    opacity: 0;
}
