body {
    margin: 0px;
    background-color: #000000;
    overflow: hidden;
}

canvas {
    position: absolute;
    z-index: -1;
}

div.full-screen {
    width: 100vw;
    height: 100vh;
}

#score-container {
    pointer-events: none;
    font-size: 10vh;
    font-weight: bold;
    color: white;
    opacity: 0.5;
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translate(-50%, 0%);
}

#large-text-container {
    pointer-events: none;
    font-size: 30vh;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#large-text.animate {
    transition: all 1s;
    transition-timing-function: ease-in;
    transform: scale(0.1);
    opacity: 0;
}
